<ion-header>
  <ion-toolbar>
    <ion-title>InstaClone</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="user$|async as user">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img [src]="user?.profile_image?.medium"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-text>
          <p>
            <b>{{user?.total_photos}}</b><br/>
            Posts
          </p>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-text>
          <p>
            <b>{{user?.followers_count}}</b><br/>
            Followers
          </p>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-text>
          <p>
            <b>{{user?.following_count}}</b><br/>
            Followings
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <p>
            <b>{{user?.name}}</b><br>
            <i [hidden]="!user?.location">{{user?.location}}</i><br/>
            {{user?.bio}}
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment (ionChange)="actions($event)" [value]="segmentName">
          <ion-segment-button value="items">
            <!-- <ion-label>Friends</ion-label> -->
            <ion-icon name="grid-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="users">
            <!-- <ion-label>Enemies</ion-label> -->
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div [ngSwitch]="true">
          <div *ngSwitchCase="segmentName === 'items'">
            <div *ngFor="let item of user?.photos">
              <ion-img [src]="item?.urls?.thumb"></ion-img>
            </div>
          </div>
          <div *ngSwitchCase="segmentName === 'users'">
            <ion-grid>
              <ion-row>
                <ion-col [routerLink]="'/tabs/search/' + item?.id" size="4" *ngFor="let item of user?.photos">
                  <ion-img [src]="item?.urls?.thumb"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <!-- <some-element *ngSwitchDefault>...</some-element> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
