<ion-header>
  <ion-toolbar>
    <ion-title>
      InstaClone
    </ion-title>
    <ion-buttons (click) ="takePicture()" slot="start">
      <ion-icon name="camera"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon  name="paper-plane-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding"*ngIf="feeds$|async as feeds">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size-xs="12" size-md="8">
        <app-post
        [post]="item"
        (actionEvent)="action($event)"
        *ngFor="let item of feeds.slice(0, max)"></app-post>
      </ion-col>
      <ion-col class="plt-desktop" size-xs="12" size-md="4">
        <div style="position: fixed; margin-left: 3rem; margin-top: 5rem;" *ngIf="currentUser$|async as post ;else noCurentUser">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding" [routerLink]="['../profil/post?.id']">
              <ion-col class="ion-no-padding" size="2">
                <ion-avatar>
                  <ion-icon name="person-circle-sharp" style="zoom:2.0;"></ion-icon>
                  <ion-label>{{post?.name|| post?.username}}</ion-label>
                </ion-avatar>
                <ion-text>
                  <p></p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
          <ng-template #noCurentUser>
            <div style="position: fixed; align-content: center; margin-left: 3rem; margin-top: 5rem;">
              you are disconnected
            </div>
          </ng-template>
    </ion-col>
    </ion-row>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadScrollData($event,feeds.length)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-grid>
</ion-content>
